/*====================================================================
----------------------------------------------------------------------
*
*  Buttons
*
----------------------------------------------------------------------
====================================================================*/

button
  display: block
  margin-top: $base_spacing_unit
  padding: 3px
  width: 100%
  font: 1.4rem $default_font_families
  background-color: $primary_action_color
  border: 0
  color: #fff
  cursor: pointer