/*====================================================================
----------------------------------------------------------------------
*
*  Headings
*
----------------------------------------------------------------------
====================================================================*/

h1, h2
  margin-bottom: $double_spacing_unit
  color: $primary_action_color

h1
  font-size: 1.9rem

h2
  border-top: 1px dashed #fff
  margin-top: 40px
  padding-top: $base_spacing_unit
  font-size: 1.6rem

@media only screen and (max-width: 719px)
  h1
    font-size: 1.5rem