/*====================================================================
----------------------------------------------------------------------
*
*  Links
*
----------------------------------------------------------------------
====================================================================*/

a
  background-color: $secondary_action_color
  color: #111
  text-decoration: none

a:hover,
a:active
  background-color: $primary_action_color