/*====================================================================
----------------------------------------------------------------------
*
*  Posts
*
----------------------------------------------------------------------
====================================================================*/

#posts
  width: 100%

.time
  display: inline-block
  margin-bottom: $base_spacing_unit

article .posted
  margin: $base_spacing_unit 0

.reply-to-post
  margin: $base_spacing_unit 0
  padding: $base_spacing_unit 0