/*====================================================================
----------------------------------------------------------------------
*
*  States
*
----------------------------------------------------------------------
====================================================================*/

/*--------------------------------------------------------------------
*
*  Errors
*
--------------------------------------------------------------------*/

body.error
  background-color: #111
  color: #666

body .error
  background-color: #ff3d3d
  color: #ffdcdc
  font-size: 1.3rem
  display: inline-block
  margin-top: 4px
  padding: 2px 3px

body.error a
  color: #000

.error .back
  background-color: rgba(1, 1, 1, 0.20)
  border-right: 2px solid rgba(1, 1, 1, 0.28)

.error h2
  margin: $double_spacing_unit 0