/*====================================================================
----------------------------------------------------------------------
*
*  Vars
*
----------------------------------------------------------------------
====================================================================*/

/*--------------------------------------------------------------------
*
*  Spacing
*
--------------------------------------------------------------------*/
$base_spacing_unit = 10px
$double_spacing_unit = $base_spacing_unit * 2
$half_spacing_unit = $base_spacing_unit / 2


/*--------------------------------------------------------------------
*
*  Fonts
*
--------------------------------------------------------------------*/
$default_font_families = Inconsolata, Menlo, monospace


/*--------------------------------------------------------------------
*
*  Colors
*
--------------------------------------------------------------------*/
$primary_action_color = #5bdeff
$secondary_action_color = #acfff2
$highlight_color = #e41e85
$negative_color = #f00